<%- include('../partials/header') %>

    <%- include('../partials/menu') %>

        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Goods</h1>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <span>this is data of Goods</span>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="/goods/add" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Add</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Barcode</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Unit</th>
                                    <th>Purchase Price</th>
                                    <th>Selling Price</th>
                                    <th>Picture</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Barcode</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Unit</th>
                                    <th>Purchase Price</th>
                                    <th>Selling Price</th>
                                    <th>Picture</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        <script>
            // console.log("data table")
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "lengthMenu": [[3, 10, 100, -1], [3, 10, 100, "All"]],
                    "processing": true,
                    "serverSide": true,
                    "ajax": "/goods/datatablegoods",
                    "columns": [
                        { "data": "barcode" },
                        { "data": "name" },
                        { "data": "stock" },
                        { "data": "unit" },
                        { "data": "purchaseprice" },
                        { "data": "sellingprice" },
                        {
                            "data": "picture",
                            render: function (data, type) {
                                return `<img src="/images/upload/${data}" style="width: 50px" />`
                            }
                        },
                        {
                            "data": "barcode",
                            render: function (data, type) {
                                console.log(data)
                                return `

                                <a class="btn btn-success btn-circle" href="/goods/edit/${data}"><i class="far fa-edit"></i></a>

                                <a class="btn btn-danger btn-circle" data-toggle="modal"
                                  data-target="#delete${data}" href="/goods/delete/${data}"><i class="fas fa-trash"></i></a>

                                  
                                  <div class="modal fade" id="delete${data}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete confirmations</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Are you sure, want to delete this account?</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                                    <a href='/goods/delete/${data}' class="btn btn-primary">yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `
                            }
                        },
                    ]
                });
            });
        </script>

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer') %>